
ul {
    margin: 0;
    padding: 0;
}

.info-box {
    width: 250px;
    height: 250px;
    border: 1 px solid red;
    margin: 25px;
}

body {
    margin: 39px 140px;
}

@import './header';
@import './addHeaderBorder'; 
@import './addTitle'; 
@import './signin'; 